html
	h1 #{data.json.data.name}
	- var properties = data.json.data
	- delete data.json.data
	table
		each n, index in properties
			tr
				td
					b= index   
				td= n
				td=	(typeof n)
	hr
	each n, index in data.json
		p
			b= index 
			|:   
			= (typeof n) + ': ' + n  